@charset "UTF-8";
body {
  padding: 40px 30px 0;
  background: #ffffff;
  color: #000000; }

h1 {
  clear: right;
  margin: 0 0 40px 0;
  background: #ffffff;
  font: bold 72px Arial, Verdana, sans-serif; }

@media only screen and (max-width: 600px) {
  h1 {
    margin-bottom: 50px;
    font-size: 10vw; } }
.logo {
  margin-top: 40px;
  margin-bottom: 40px; }

#search {
  width: 300px;
  margin-bottom: 40px;
  border: 1px solid #b3b3b3;
  border-radius: 5px;
  margin: 0 auto; }
  #search input[type=text] {
    border: none; }
  #search input[type=submit] {
    width: 20px;
    height: 20px;
    border: none;
    background: url("../i/loupe.png") 50% 50% no-repeat; }

/* Small devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .logo, #search {
    margin-top: 60px;
    margin-bottom: 60px; }

  #search {
    float: right; }

  h2, .avatars {
    max-width: 87%; }

  article {
    max-width: 47%; }

  p.large {
    max-width: 65%; } }
h2 {
  color: #000000;
  font: bold 72px Arial, Verdana, sans-serif; }

h2#order {
  font-size: 32px; }

h3, p.small, h4 {
  padding: 0;
  margin: 0;
  padding-bottom: 30px;
  color: #000000;
  font: bold 72px Arial, Verdana, sans-serif;
  font-size: 42px; }

h3:nth-child(5) {
  padding-top: 10px; }

h3:last-child {
  padding-top: 20px; }

h4 {
  font-size: 24px; }

p.large {
  padding: 50px;
  color: #333333;
  font: bold 72px Arial, Verdana, sans-serif;
  font-size: 32px;
  line-height: 1.5; }

p.small, article p {
  padding: 0;
  padding-bottom: 50px;
  color: #333333;
  font-size: 19px;
  font-style: normal;
  line-height: 1.5; }

.avatars {
  padding-top: 10px;
  padding-bottom: 60px;
  text-align: center; }

.avatars img {
  display: inline-block;
  margin-left: 25px;
  margin-right: 25px; }

@font-face {
  font-family: Fuchsia;
  src: url("../font/alsfuchsia.otf");
  /* ╨Я╤Г╤В╤М ╨║ ╤Д╨░╨╣╨╗╤Г ╤Б╨╛ ╤И╤А╨╕╤Д╤В╨╛╨╝ */ }
blockquote.type1 {
  margin: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #000000;
  font: 36px Fuchsia, cursive;
  border: 1px solid #7d7d7d; }

.Bender {
  display: block;
  width: 299px;
  height: 193px;
  margin: 70px auto 0; }

div.book img:hover {
  cursor: pointer; }
div.book p {
  padding-top: 40px;
  padding-bottom: 60px; }
div.book u {
  color: blue;
  text-decoration: none; }

input.buy {
  width: 430px;
  height: 80px;
  margin: 0 auto 30px;
  padding: 0;
  color: #ffffff;
  font-size: 30px;
  background-color: #815683;
  border-radius: 10px; }

.red {
  color: #ff0000; }

.fbbBook {
  position: relative;
  width: 420px; }

@-webkit-keyframes eye-blinking {
  from {
    background: url("../i/veko-1.png") no-repeat left top; }
  50% {
    background: url("../i/veko-2.png") no-repeat left top; }
  75% {
    background: url("../i/veko-3.png") no-repeat left top; }
  to {
    background: url("../i/veko-4.png") no-repeat left top; } }
@-moz-keyframes eye-blinking {
  from {
    background: url("../i/veko-1.png") no-repeat left top; }
  50% {
    background: url("../i/veko-2.png") no-repeat left top; }
  75% {
    background: url("../i/veko-3.png") no-repeat left top; }
  to {
    background: url("../i/veko-4.png") no-repeat left top; } }
@-o-keyframes eye-blinking {
  from {
    background: url("../i/veko-1.png") no-repeat left top; }
  50% {
    background: url("../i/veko-2.png") no-repeat left top; }
  75% {
    background: url("../i/veko-3.png") no-repeat left top; }
  to {
    background: url("../i/veko-4.png") no-repeat left top; } }
@keyframes eye-blinking {
  from {
    background: #ffffff; }
  10% {
    background: url("../i/veko-1.png") no-repeat left top; }
  20% {
    background: url("../i/veko-2.png") no-repeat left top; }
  30% {
    background: url("../i/veko-3.png") no-repeat left top; }
  40% {
    background: url("../i/veko-4.png") no-repeat left top; }
  50% {
    background: #000000; }
  to {
    background: #ffffff; } }
.eye {
  position: absolute;
  width: 134px;
  height: 134px;
  left: 50%;
  top: 315px;
  margin-left: -67px;
  background: #ffffff;
  -moz-border-radius: 67px;
  -webkit-border-radius: 67px;
  border-radius: 67px;
  border: 2px solid #000000;
  -webkit-animation: eye-blinking 2s linear 1s infinite normal;
  -moz-animation: eye-blinking 2s linear 1s infinite normal;
  -o-animation: eye-blinking 2s linear 1s infinite normal;
  animation: eye-blinking 2s linear 1s infinite normal; }

.eyeball {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 50%;
  top: 370px;
  margin-left: -12px;
  background: #000000;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px; }

.bookText {
  margin-top: 40px;
  margin-bottom: 60px;
  font: 24px Arial, Verdana, sans-serif;
  color: #333333;
  text-align: center; }

@media only screen and (min-width: 768px) {
  margin-top: 50px;
  margin-bottom: 30px; }
#preloader {
  padding: 25px; }

.orderForm label {
  display: block;
  font-size: 18px; }

.orderForm input {
  font-size: 18px; }

.orderForm label.checkBox {
  display: inline-block; }

#total-payment {
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 32px; }

#toOrder {
  display: block;
  margin-bottom: 25px; }

/*# sourceMappingURL=main.css.map */
