body {
  padding: 40px 30px 0;
  background: #ffffff;
  color: #000000; }

h1 {
  background: #ffffff;
  clear: right; }

.Bender {
  display: block;
  width: 299px;
  height: 193px;
  margin: 0 auto; }

a.book {
  display: block; }
  a.book u {
    color: blue; }

#search {
  float: right;
  width: 300px;
  border: 1px solid #b3b3b3;
  border-radius: 5px; }
  #search form {
    margin-right: 20px; }
  #search input[type=text] {
    border: none; }
  #search input[type=submit] {
    width: 20px;
    height: 20px;
    border: none;
    background: url("../i/loupe.png") 50% 50% no-repeat; }

/*# sourceMappingURL=main.css.map */
